@media screen and (max-width: 576px) {
	.nav-list2 {
		display: none;
	}
	.responsive-menu-btn {
		display: block;
		width: 3rem;
		height: 3rem;
		background-color: transparent;
		z-index: 3;
		margin-right: 45%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	.responsive-menu-btn span {
		width: 100%;
		height: 0.3rem;
		background-color: rgba(173, 28, 182, 1);
	}
}
@media screen and (min-width: 576px) and (max-width: 768px) {
	.nav-list2 {
		display: none;
	}
	.responsive-menu-btn {
		display: block;
		width: 3rem;
		height: 3rem;
		background-color: transparent;
		z-index: 3;
		margin-right: 25%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	.responsive-menu-btn span {
		width: 100%;
		height: 0.3rem;
		background-color: rgba(173, 28, 182, 1);
	}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	.nav-list2 {
		display: none;
	}
	.responsive-menu-btn {
		display: block;
		width: 3rem;
		height: 3rem;
		background-color: transparent;
		z-index: 3;
		margin-right: 10%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
	}
	.responsive-menu-btn span {
		width: 100%;
		height: 0.3rem;
		background-color: rgba(173, 28, 182, 1);
	}
}
@media screen and (min-width: 1200px) {
}
